<article class="col-lg-6 col-sm-5 col-md-4 mx-auto" role="menu">
         <div class="card">
                  <div class="card-header border-0 bg-white">
                           <h2>Kartu Tanda Netizen</h2>
                  </div>
                  <div class="card-body">
                           <div class="row">
                                    <div class="col-md-5">
                                             <a href="{{ site.url }}"><img class="img-thumbnail disable-user-select" alt="avatar" src="{{ site.baseurl }}/assets/images/ava.png" alt="{{ site.url }}"></a>
                                    </div>
                                    
         <div class="col-md-7">
<table class="table table-sm">
  <tbody>
    <tr>
      <th scope="row" class="border-0">NIN :</th>
      <td class="border-0">62.0123456789.1</td>
    </tr>
    <tr>
      <th scope="row" class="border-0">Name :</th>
      <td class="border-0">Samsir</td>
    </tr>
    <tr>
      <th scope="row" class="border-0">Links :</th>
      <td class="border-0">
         <!-- Nav links -->
         <nav class="nav flex-column">
            {% for entry in site.data.navigation %}
            {% assign sublinks = entry.sublinks %}
            {% if sublinks %}
            <div class="dropdown multi-menu">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ entry.title }}</a>
                <div class="dropdown-menu sub-menu">
                    {% for sublink in sublinks %}
                    <a class="dropdown-item text-decoration-none" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endfor %}
                </div>
            {% else %}
            <a class="nav-link pt-0" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            {% endif %}
            {% endfor %}
        </nav>
      </td>
    </tr>
    <tr>
      <th scope="row" class="border-0">Social :</th>
      <td class="border-0">
        <!-- Social links -->
        <div class="nav">
            {%- for link in site.socials-links -%}
            {%- assign curkey = link[0] -%}
            {%- assign element = site.data.socials[curkey] -%}
            {%- if curkey == 'rss' -%}
            <a class="mr-1 text-decoration-none" href="{{ '/feed.xml' | prepend: site.baseurl }}" title="{{ element.name }}">
            {%- elsif curkey == 'yelp' -%}
            <a class="mr-1 text-decoration-none" href="https://{{ site.socials-links[curkey] }}.yelp.com" title="{{ element.name }}">
            {%- else -%}
            <a class="mr-1 text-decoration-none" href="{{element.baseURL}}{{ site.socials-links[curkey] }}" title="{{ element.name }}">
            {%- endif -%}
                {%- if curkey == 'rss' -%}
                <i class="fas {{ element.icon }}"></i>
                <span class="sr-only">{{ element.name }}</span>
                {%- else -%}
                <i class="fab {{ element.icon }}"></i>
                <span class="sr-only">{{ element.name }}</span>
                {%- endif -%}
            </a>
            {%- endfor -%}
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>
</div>
</div>
</article>
<!-- /.card -->
