<article class="col-lg-6 col-sm-5 col-md-4 mx-auto" role="menu">
         <div class="card">
                  <div class="card-header">
                           <h2>Kartu Tanda Netizen</h2>
                  </div>
                  <div class="card-body">
                           <div class="row">
                                    <div class="col-md-5">
             <a href="{{ site.url }}"><img class="card-img-top disable-user-select" alt="avatar" src="{{ site.baseurl }}/assets/images/ava.png" alt="{{ site.url }}"></a>
                                    </div>
                                    
         <div class="col-md-7"
        <!-- Social links -->
        <div class="float-right">
            {%- for link in site.socials-links -%}
            {%- assign curkey = link[0] -%}
            {%- assign element = site.data.socials[curkey] -%}
            {%- if curkey == 'rss' -%}
            <a class="mr-1 text-decoration-none" href="{{ '/feed.xml' | prepend: site.baseurl }}" title="{{ element.name }}">
            {%- elsif curkey == 'yelp' -%}
            <a class="mr-1 text-decoration-none" href="https://{{ site.socials-links[curkey] }}.yelp.com" title="{{ element.name }}">
            {%- else -%}
            <a class="mr-1 text-decoration-none" href="{{element.baseURL}}{{ site.socials-links[curkey] }}" title="{{ element.name }}">
            {%- endif -%}
                {%- if curkey == 'rss' -%}
                <i class="fas {{ element.icon }}"></i>
                <span class="sr-only">{{ element.name }}</span>
                {%- else -%}
                <i class="fab {{ element.icon }}"></i>
                <span class="sr-only">{{ element.name }}</span>
                {%- endif -%}
            </a>
            {%- endfor -%}
        </div>

        <nav class="nav flex-column">
            {% for entry in site.data.navigation %}
            {% assign sublinks = entry.sublinks %}
            {% if sublinks %}
            <div class="dropdown multi-menu">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ entry.title }}</a>
                <div class="dropdown-menu sub-menu">
                    {% for sublink in sublinks %}
                    <a class="dropdown-item text-decoration-none" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endfor %}
                </div>
            {% else %}
            <a class="nav-link" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
            {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
</div>
</div>
</div>
</article>
<!-- /.card -->
