<head>
  {% seo %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <meta property="og:image:type" content="image/png">
  <meta property="fb:admins" content="100002414921993">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
  <link rel="stylesheet" type="text/css" href="{{ site.path }}/assets/css/main.css">
  <script src="{{ site.path }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.path }}/assets/js/bootstrap.bundle.min.js"></script>
</head>
