<header class="masthead text-center position-absolute">
        {% if site.logo %}
        <a class="navbar-brand pt-2 m-0" aria-label="samsir" href="{{ site.url }}"><img alt="Brand"
                        src="{{ site.logo }}" /></a>
        {% else %}
        <a class="navbar-brand pt-2" aria-label="samsir" href="{{ site.url }}">
                <h1>{{ site.title }}</h1>
        </a>
        {% endif %}
</header>
<!-- /.masthead -->

{% if page.title %}
<div class="page-header display-4 bg-dark py-5 m-0 text-white text-center">{{ page.title }}</div>
{% else %}
<div class="page-header display-4 bg-dark py-5 m-0 text-white text-center">{{ site.title }}</div>
{% endif %}
<!-- /.page-header -->