<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
{% if page.summary %}
<meta name="description" content="{{ page.summary | escape }}">
{% endif %}
{%if page.tags %}
<meta name="tags" content="{{ page.tags | join: ', ' | escape }}"/>
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
{% endif %}
