<!--
  Navigation Pages
-->
<nav class="container" role="navigation">
  <div class="navbar navbar-expand-md py-4">
    <div class="d-md-none d-flex justify-content-center w-100">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link d-inline-block" href="/blog">Blog</a>
        </li>
        {% assign pages = site.pages %}
        {% for document in site.documents %}
        {% assign pages = pages | push: document %}
        {% endfor %}
        {% assign subpages = pages | where: "menu", false | sort: "order" %}
        {% assign pages = pages | where: "menu", true | sort: "order" %}
        {% assign count = 0%}
        {% for node in pages %}
        {% assign count = count | plus: 1 %}
        <li class="nav-item dropdown">
          <a id="{{ count }}" class="nav-link d-inline-block" href="{{ node.url | relative_url }}">{{ node.title }}
            {% if node.submenu %}
            <a for="{{ count }}" class="dropdown-toggle ps-md-0 px-2" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
            {% endif %}
          </a>
          {% for subnode in subpages %}
          {% if subnode.category == node.slug %}
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a></li>
          </ul>
          {% endif %}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
      {% include components/search-box.html %}
    </div>
  </div>
</nav>