<!--
  Pagination
-->
{% if paginator.total_pages > 1 %}
<nav class="py-3" role="navigation">
  <ul class="pagination justify-content-center m-0">
    <li class="page-item">
      {% if paginator.previous_page %}
      <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous"><i
          class="bi bi-arrow-left-short"></i></a>
      {% else %}
      <span class="page-link disabled"><i class="bi bi-arrow-left-short"></i></span>
      {% endif %}
    </li>

    {% for page in (1..paginator.total_pages) %}
    <li class="page-item">
      {% if page == paginator.page %}
      <em class="page-link active">{{ page }}</em>
      {% elsif page == 1 %}
      <a class="page-link" href="{{ '/blog/' | relative_url }}" aria-current="Page">{{ page }}</a>
      {% else %}
      <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}" aria-current="Page">{{
        page }}</a>
      {% endif %}
    </li>
    {% endfor %}

    <li class="page-item">
      {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next"><i
          class="bi bi-arrow-right-short"></i></a>
      {% else %}
      <span class="page-link disabled"><i class="bi bi-arrow-right-short"></i></span>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}