// General
// ---

// Variables
// ---
body {
  font-family: 'PT Sans', sans-serif;
}

// Heading
// ---
h6, h5, h4, h3, h2, h1 {
  font-family: 'Merriweather', serif;
}

// A
// ---
a {
  color: #14ac6cff;
  text-decoration: none;
}

// Bootstrap Overrides
// ---
.btn:focus,
.btn.focus,
.form-control:focus,
.navbar-toggler:focus {
  box-shadow: 0 0 black;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
