// General
// ---

// Variables
// ---
body {font-family: "Montserrat", sans-serif;font-optical-sizing: auto;font-style: normal;}

// A
// ---
a {color: #14ac6cff;text-decoration: none;}

// Bootstrap Overrides
// ---
.btn:focus,
.btn.focus,
.form-control:focus,
.navbar-toggler:focus {box-shadow: 0 0 black;}

.btn-circle {width: 40px;height: 40px;border-radius: 20px;}

.tip{background-color: #263646;padding: 0 14px;line-height: 27px;position: absolute;border-radius: 4px;z-index: 100;color: #fff;font-size: 12px;animation-name: tip;animation-duration: .6s;animation-fill-mode: both}
.tip:before{content: "";background-color: #263646;height: 10px;width: 10px;display: block;position: absolute;transform: rotate(45deg);top: -4px;left: 17px}
#copied_tip{animation-name: come_and_leave;animation-duration: 1s;animation-fill-mode: both;bottom: -35px;left:2px}.text-line{font-size: 14px}