{% assign post = include.post %}

<article id="{{ post.id | slice: 1,9999 }}" class="post mb-4">
  <header>
    <h2 class="pb-2">
      {% if include.link_title %}<a href="{{ post.url | relative_url }}" data-flip="title">{% endif %}
      {{ post.title }}
      {% if include.link_title %}</a>{% endif %}
    </h2>
  </header>

  {% include components/message.html text=post.description %}

  {% unless include.excerpt %}

  {{ post.content }}
  {% else %}
  {{ post.excerpt }}
  {% assign text_continue = site.data.strings.continue_reading | default:"Continue reading <!--post_title-->" %}

  <footer>
    <p>
      <a href="{{ post.url | relative_url }}" data-flip="title">{{ text_continue }}</a>
    </p>
  </footer>
  {% endunless %}

</article>
