---
layout: default
---

{% if page.categories %}
{% assign posts = site.categories[page.slug] %}
{% elseif page.tags %}
{% assign posts = site.tags[page.slug] %}
{% endif %}

{% if page.title.size > 0 %}
<header>
    <h1>{{ page.title }}</h1>
    {% include components/message.html text=page.description %}
</header>
<hr class="sr-only" />
{% endif %}

{% for post in posts %}
{% unless forloop.first %}</ul>{% endunless %}
<ul>
    {% assign date = currentdate %}
    {% include components/post-list.html post=post format="%d %b" %}
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}