---
layout: default
cover-img: https: //samsiral. Am/assets/img/brand. Png
---

{% assign category = site. Archives[page. Categories] | where: "slug", page. Slug | first %}
{% if category %}
{% assign posts = site. Categories[page. Slug] %}
{% else %}
{% assign tag = site. Archives[page. Tags] | where: "slug", page. Slug | first %}
{% if tag %}
{% assign posts = site. Tags[page. Slug] %}
{% else %}
{% assign posts = site. Posts %}
{% endif %}
{% endif %}

{% if page. Title. Size > 0 %}
<header>
<h1 class="page-title">{{ page. Title }}</h1>
{% include message. Html text=page. Description %}
</header>
<hr class="sr-only"/>
{% endif %}

{% for post in posts %}
{% assign currentdate = post. Date | date: "%y" %}
{% if currentdate ! = date %}
{% unless forloop. First %}</ul>{% endunless %}
<h2 id="y{{post. Date | date: "%y"}}" class="hr">{{ currentdate }}</h2>
<ul class="related-posts">
{% assign date = currentdate %}
{% endif %}
{% include components/post-list. Html post=post format="%d %b" %}
{% if forloop. Last %}</ul>{% endif %}
{% endfor %}

{% include pagination. Html %}