---
layout: default
---

{% assign tag = site.archives[page.tags] | where: "slug", page.slug | first %}
{% if tag %}
{% assign posts = site.tags[page.slug] %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

{% if page.title.size > 0 %}
<header>
  <h1 class="page-title">{{ page.title }}</h1>
</header>
{% endif %}

{% for post in posts %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% unless forloop.first %}</ul>{% endunless %}
<h3 id="y{{post.date | date: " %Y"}}" class="text-muted">{{ currentdate }}</h3>
<ul class="tags-posts">
  {% assign date = currentdate %}
  {% endif %}
  {% include components/post-list.html post=page format="%d %b" %}
  {% if forloop.last %}
</ul>
{% endif %}
{% endfor %}