<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang | default:'en' }}">

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

{% assign color = site.color | default:'#14ac6c' %}
{% assign image = site.image | default:'/assets/img/brand.png' %}

{% if page.categories.size > 0 %}
{% assign category_name = page.categories.first %}
{% assign category = site.archives[page.categories] | where: "slug", category_name | first %}
{% if category.color %}{% assign color = category.color %}{% endif %}
{% if category.image %}{% assign image = category.image %}{% endif %}
{% elsif page.tags.size > 0 %}
{% assign tag_name = page.tags.first %}
{% assign tag = site.archives[page.tags] | where: "slug", tag_name | first %}
{% if tag.color %}{% assign color = tag.color %}{% endif %}
{% if tag.image %}{% assign image = tag.image %}{% endif %}
{% elsif author %}
{% if author.color %}{% assign color = author.color %}{% endif %}
{% if author.image %}{% assign image = author.image %}{% endif %}
{% endif %}

{% if page.color %}{% assign color = page.color %}{% endif %}
{% if page.image %}{% assign image = page.image %}{% endif %}

{% include head.html %}

<body>
  {% include header.html %}
  {% include body.html %}
  {% include footer.html %}
</body>

</html>