<!DOCTYPE html>
<html lang="{{ page.lang | default:site.lang | default:'en' }}">

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

{% assign color = site.color | default:'#14ac6c' %}
{% assign image = site.image | default:'/assets/img/brand.png' %}


{% if page.color %}{% assign color = page.color %}{% endif %}
{% if page.image %}{% assign image = page.image %}{% endif %}

{% include head.html %}

<body>
  {% include header.html %}
  {% include body.html %}
  {% include footer.html %}
</body>

</html>