<!DOCTYPE html>
<html class="h-100" lang="{{ page.lang | default:site.lang | default:'en' }}">

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

{% include head.html %}
<body class="d-flex align-items-center h-100">
  <main class="container" role="main">
    
  <article class="col-sm-5 m-auto">
    <div class="3dot float-end">
      <button type="button" class="btn btn-dark btn-circle" data-bs-placement="top"><span data-bs-toggle="modal" data-bs-target="#shareModal"><i class="bi bi-three-dots"></i></span></button></div>
    <div class="text-center">
      <header class="my-2">
        {% if author.picture %}<button type="button" class="col-3 btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to see my resume"><span data-bs-toggle="modal" data-bs-target="#cvModal">{% include components/srcset-img.html class="img-thumbnail rounded-circle border-o" img=author.picture alt=author.name %}</span></button>{% endif %}
        <h2 class="pt-2">{{ site.title }}</h2>

        <a href="//about.me/samsiralam" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="about.me/samsiralam">About.me</a>
        <i class="bi bi-box-arrow-up-right"></i>
      </header>
      <section>
      {% if author.social %}
      <!-- Social links -->
      {% include components/social.html social=author.social %}
      {% endif %}
      </section>
      <footer class="my-2">
      {% include menu.html %}
      </footer>
    </div>
  </article>

    <!-- Modal -->
    <div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="cvModalLabel">Resume</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ site.baseurl }}/assets/img/cv.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="shareModalLabel">Share this</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <nav class="nav flex-column gap-3">
              <a class="me-2" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <i class="bi bi-facebook"></i>
                Share on Facebook
              </a>
              <a class="me-2" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <i class="bi bi-twitter-x"></i>
                Share on X
              </a>
              <a href="whatsapp://send?text={{ page.title }}+{{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <i class="bi bi-whatsapp"></i>
                Share via Whatsapp
              </a>
              <button onclick="copy('samsiral.am','#copy_button_1')" id="copy_button_1" class="btn btn-light copy-button card-body">
                Copy
              </button>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </main>
  <!-- /.container -->
  <script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

function copy(text, target) {
setTimeout(function() {
$('#copied_tip').remove();
}, 800);
$(target).append("<div class='tip' id='copied_tip'>Copied!</div>");
var input = document.createElement('input');
input.setAttribute('value', text);
document.body.appendChild(input);
input.select();
var result = document.execCommand('copy');
document.body.removeChild(input)
return result;
}

</script>

</body>

</html>