<!DOCTYPE html>
<html class="h-100" lang="{{ page.lang | default:site.lang | default:'en' }}">

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

{% include head.html %}
<body class="d-flex align-items-center h-100" style="background-image: url('https://samsiral.am/assets/img/bg.png')">
  <main class="container" role="main">
    
  <article class="col-sm-5 m-auto">
    <div class="d-flex justify-content-end">
      <span data-bs-toggle="modal" data-bs-target="#shareModal"><button type="button" class="btn btn-outline-dark btn-circle" data-bs-placement="top"><i class="bi bi-three-dots"></i></button></span></div>
    <div class="text-center">
      <header class="my-2">
        {% if author.picture %}<button type="button" class="col-5 col-sm-5 col-md-4 col-lg-3 btn btn-link" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to see my resume"><span data-bs-toggle="modal" data-bs-target="#cvModal">{% include components/srcset-img.html class="img-thumbnail rounded-circle border-0" img=author.picture alt=author.name %}</span></button>{% endif %}
        <h2 class="pt-2">{{ site.title }}</h2>

        <a href="//about.me/samsiralam" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="about.me/samsiralam">About.me</a>
        <i class="bi bi-box-arrow-up-right"></i>
      </header>
      <section>
      {% if author.social %}
      <!-- Social links -->
      {% include components/social.html social=author.social %}
      {% endif %}
      </section>
      <footer class="my-2">
      {% include menu.html %}
      </footer>
    </div>
  </article>

    <!-- Modal -->
    <div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="cvModalLabel">Resume</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{ site.baseurl }}/assets/img/cv.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="shareModalLabel">Share this</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <nav class="nav flex-column gap-3">
              <a style="color: #222222;" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <i class="me-2 bi bi-facebook" style="color: #0766FF;"></i>
                Share on Facebook
                <i class="float-end bi bi-chevron-right" style="color: #222222;"></i>
              </a>
              <a style="color: #222222;" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <i class="me-2 bi bi-twitter-x" style="color: #000000;"></i>
                Share on X
                <i class="float-end bi bi-chevron-right" style="color: #222222;"></i>
              </a>
              <a style="color: #222222;" href="whatsapp://send?text={{ page.title }}+{{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
                <i class="me-2 bi bi-whatsapp" style="color: #00D757;"></i>
                Share via WhatsApp
                <i class="float-end bi bi-chevron-right" style="color: #222222;"></i>
              </a>
            </nav>
          </div>
          <div class="modal-footer justify-content-between">
            <div id="link">
              https://samsiral.am
            </div>
            <button class="btn" data-clipboard-target="#link">
              Copy
            </button>
          </div>
      </div>
      </div>
    </div>

  </main>
  <!-- /.container -->
  <script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

  var clipboard = new ClipboardJS('.btn');
clipboard.on('success', function(e) {
  console.log(e);
});
clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});
  </script>
</body>

</html>